@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Pompiere&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --cor0:#A1AC8E;
    --cor1:#6C765B;
    --cor2:#AE784A;
    --cor3:#714425;
    --cor4:#E33F7E;
    --cor5:#EBEFF2;

    --fonte-principal:'Pompiere', cursive;
    --fonte-secundaria:'Amatic SC', cursive;
    --fonte-terciaria: 'Kalam', cursive;
}

body {
    background-color: var(--cor0);
    overflow-x: hidden;
    
}

a {
    color: var(--cor3);
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}


.apoio-1 {
    display: none;
}

.logo {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    font-size: 30px;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.418);
    
}


.logo-caixa {
    letter-spacing: 5px;
    color: var(--cor3);
    
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Pompiere', cursive;
    font-weight: bolder;
    margin: 30px;
    padding-top: 20px;
    transition-timing-function: ease;
    transition-duration: 4s;
    text-transform: capitalize;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.336);
    
}


.nav-list {
    list-style: none;
    display: flex;
    font-size: 20px;
    
}

.nav-list li {
    letter-spacing: 4px;
    margin-left: 35px;
    
}



@media (max-width: 750px) {

    

    .apoio-1 {
        display: block;
        margin: 30px;
    }

    .logo {
        display: none;
    }



    .nav-list {
        text-align: center;
        flex-direction:row;

    }
}

.img-1 {
    height: 500px;
    margin: 10px;
    background-image: url('imagens/fundo-2.jpg');
    background-position: center center;
    background-size: cover ;
    background-attachment: fixed;
    border-radius: 5px;
    margin-bottom: 60px;
    box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.781);
    transition-timing-function: ease;
    transition-duration: 2s;
}

.texto-1 {
    height: 200px;
    position: absolute;
    left: 1%;
    right: 1%;
    margin-top: 150px;
    
}

.filtro {
    height: 500px;
    background-color: rgba(0, 0, 0, 0.822);
    border-radius: 5px;
}

.texto-1 h2 {
    
    color: #a06137;
    text-align: center;
    margin-top: 60px;
    font-family: var(--fonte-secundaria);
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.514);
    letter-spacing: 4px;
    padding: 10px;
    transition-timing-function: ease;
    transition-duration: 1s;
}


.mãe {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 60px;
}

.filha {
    font-family: var(--fonte-secundaria); 
    font-weight: bolder;
    font-size: 21px;
    color: var(--cor3);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.288);
    
}



.txt-1 {
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    transition-timing-function: ease;
    transition-duration: 2s;
}

.txt-12 {
    height: 400px;
    width: 700px;
    text-align: justify;
    font-family: var(--fonte-principal);
    font-size: 25px;
    background-color: var(--cor1);
    padding: 20px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.534);
    text-shadow: 1px 1px 2px #714325be;
    border-radius: 5px;
    
}

.txt-12 h2, h3 {
    font-family: var(--fonte-secundaria);
}

.espaço, .espaço-2 {
    background-color: #a0613788;
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 25px;
    border-radius: 5px;
    background-attachment: fixed;
    box-shadow: inset 6px 6px 12px rgba(0, 0, 0, 0.527) ;
    margin-bottom: 60px;

}

.espaço h3 {
    margin: auto;
    font-family: var(--fonte-secundaria);
    text-shadow: 2px 2px 4px #502c14;
    
}

.espaço-consumo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.consumo {
    
    height: 250px;
    width: 500px;
    margin: 10px;
    padding-top: 20px;
    display: flex;
    align-items: center;
    font-family: var(--fonte-principal);
    font-size: 28px;
    text-shadow: 1px 1px 2px #502c14;
    
}

.app {
     height: 300px;
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     margin: 30px;
     margin-top: 120px;
}

.baixe-app {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    font-family: var(--fonte-secundaria);
    font-size: 23px;
    text-shadow: 1px 1px 2px #502c1488;
}

.baixe-app h3, p {
    font-family: var(--fonte-principal);
}

.qrcode {
 width: 400px;
 height: 400px;
text-align: center;

 
}

footer {
    height: 80px;
    background-color: var(--cor1);
    text-align: center;
    font-size: 15px;
    padding-top: 60px;
    letter-spacing: 4px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.397);
}


@media (max-width: 1600px) {

    .mãe {
        display: flex;
        flex-flow: row wrap;
        
    }
    
    .filha {
        width: 33%;
    } 

    .txt-1 {
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 60px;
    
    }
    
    .txt-12 {
        height: 400px;
        width: 700px;
        padding: 20px;
    }

    .espaço-2 {
        height: 600px;
    }

    .espaço-consumo {
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .consumo {
        width: 500px;
    }
}

@media (max-width: 1000px) {

    .mãe {
        display: flex;
        flex-flow: row wrap;
    }
    
    .filha {
        width: 50%;
    } 

    .txt-1 {
        display: flex;
        flex-direction: column;
        height: 1000px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .txt-12 {
        height: 900px;
        width: 500px;
        text-align: justify;
        font-family: var(--fonte-principal);
        font-size: 25px;
        background-color: var(--cor1);
        padding: 20px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.534);
        text-shadow: 1px 1px 2px #714325be;
        border-radius: 5px;
    }

    
    
    .app {
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 30px;
        padding: 30px;
   }

   footer {
       margin-top: 80px;
   }
  
}
@media (max-width: 500px) {

    .mãe {
        display: flex;
        flex-flow: row wrap;
    }
    
    .filha {
        width: 100%;
    } 

    .txt-1 {
        display: flex;
        flex-direction: column;
        height: 1200px;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }
    
    .txt-12 {
        height: 900px;
        width: 280px;
        text-align: justify;
        font-family: var(--fonte-principal);
        font-size: 25px;
        background-color: var(--cor1);
        padding: 20px;
        box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.534);
        text-shadow: 1px 1px 2px #714325be;
        border-radius: 5px;
    }

    .espaço-2 {
        height: 1200px;
        
    }

    .espaço-consumo {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .consumo {
        display: flex;
        flex-direction: column;
        width: 300px;
        margin: 30px;

    }
}